---
import ContentLayout from '@/layouts/ContentLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const reviews = await getCollection('reviews');

  return reviews.map((review) => ({
    params: { slug: review.slug },
    props: { entry: review },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, author, date, category, rating, link, description } = Astro.props.entry.data;
---

<ContentLayout title={title} description={description}>
  <div slot='info'>
    <h2>Author: {author}</h2>
    <time datetime={date.toISOString()}
      >Date: {
        new Intl.DateTimeFormat('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        }).format(date)
      }</time
    >
    <p>Category: {category}</p>
    <p>Rating: {rating} / 5</p>
    <a href={link}>Link to buy (not affiliate)</a>
  </div>
  <Content />
</ContentLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: var(--text-lg);
  }

  a {
    text-decoration: revert;
    width: fit-content;
  }
</style>
