---
import Review from '@/features/reviews/components/Review/index.astro';
import CardLayout from '@/layouts/CardLayout.astro';
import { getCollection } from 'astro:content';

const title = 'Reviews';
const description = "My thoughts on things I've consumed.";
const reviews = await getCollection('reviews');

const latestReviews = reviews.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<CardLayout title={title} description={description}>
  <p slot='info'>{description}</p>
  {
    latestReviews.map((review) => {
      return (
        <Review
          url={`/reviews/${review.slug}`}
          title={review.data.title}
          author={review.data.author}
          category={review.data.category}
          description={review.data.description}
        />
      );
    })
  }
</CardLayout>
