---
import Post from '@/features/blog/components/Post/index.astro';
import CardLayout from '@/layouts/CardLayout.astro';
import { getCollection } from 'astro:content';

const title = 'Blog';
const description = 'Web dev content, mostly. Updated weekly, probably.';
const posts = await getCollection('blog');
const latestPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<CardLayout title={title} description={description}>
  <Fragment slot='info'>
    <p>Web dev content, mostly.</p>
    <p>Updated weekly, probably.</p>
  </Fragment>
  {
    latestPosts.map((post) => {
      return (
        <Post
          url={`/blog/${post.slug}`}
          title={post.data.title}
          description={post.data.description}
        />
      );
    })
  }
</CardLayout>
