---
import { Image } from 'astro:assets';

const {
  details: {
    title,
    summary,
    img: { src, alt },
    links: { website, github },
  },
} = Astro.props;
---

<article
  class='flex max-w-xl flex-col rounded-lg border-2 border-slate-900 bg-slate-300 shadow-md dark:bg-slate-800'
>
  <h1
    class='my-3 text-center text-3xl dark:text-violet-300 lg:m-0 lg:my-4 lg:text-4xl'
  >
    {title}
  </h1>
  <div
    class='flex h-full flex-col justify-between gap-8 px-6 pb-4 lg:px-8 lg:pb-6'
  >
    <div class='flex flex-col gap-2'>
      <Image
        src={src}
        alt={alt}
        class='aspect-video rounded-md border border-slate-900'
      />
      <p class='lg:text-lg'>{summary}</p>
    </div>
    <div
      class='flex justify-between text-2xl font-bold text-slate-900 dark:text-xl dark:font-normal dark:text-violet-300'
    >
      <a
        href={website}
        class='rounded-lg first-letter:text-rose-700 dark:bg-slate-900 dark:px-4 dark:py-1 dark:first-letter:text-inherit'
        >Website</a
      >
      <a
        href={github}
        class='rounded-lg first-letter:text-rose-700 dark:bg-slate-900 dark:px-4 dark:py-1 dark:first-letter:text-inherit'
        >GitHub</a
      >
    </div>
  </div>
</article>
